<p id="notice"><%= notice %></p>

<% if params[:i] %>
<% if @hili.present? %>
<%= link_to @hili, @hili %>
<button onclick="copyToClipboard('<%= @hili %>')">copy</button>
<p>random redirect to links:</p>
<table>
  <tbody>
    <% @lines.each do |line| %>
    <tr>
      <td>
        <% hili = "#{line.url}#:~:text=#{line.note}" %>
        <%= link_to notify(line.note), hili, target: '_blank', style: "text-decoration:none; color:gray" %>
        <button onclick="copyToClipboard('<%= hili %>')">copy</button>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<% else %>
'🦫 Wrong url: please do "https://hili.link?i=YOURNOTE https://YOURURL.TO.NOTE"'
<% end %>
<% else %>
<p>🦫 Creat your own hili.link by visit <code>https://hili.link?i=YOURNOTE https://YOURURL.TO.NOTE</code></p>
<div class="mt-4 sm:flex sm:max-w-md">
  <div data-controller="autocomplete" data-autocomplete-url-value="/autocomplete_lines">
    <%= search_form_for @q do |f| %>
    <%# f.label :url_or_note_cont %>
    <%= f.search_field :url_or_note_cont, 'data-autocomplete-target': "input", 'placeholder': 'Find ideas for...' %>
    <ul data-autocomplete-target="results"></ul>
    <%# f.submit %>
    <% end %>
  </div>
</div>


<!--
<h1>Lines</h1>
<%= link_to '+', new_line_path, style: "text-decoration:none; color:black" %>
-->

<!--
<table>
  <thead>
    <tr>
      <th>link-to-text</th>
      <th colspan="3"></th>
      <th>Url</th>
      <th>Note</th>
    </tr>
  </thead>
  <tbody>
    <% @lines.each do |line| %>
    <tr>
      <td>
        <%= link_to notify(line.note), "#{line.url}#:~:text=#{line.note}", target: '_blank', style: "text-decoration:none; color:gray" %>
      </td>
        <td><%= link_to 'Show', line %></td>
        <td><%= link_to 'Edit', edit_line_path(line) %></td>
        <td><%= link_to 'Destroy', line, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= line.url %></td>
        <td><%= notify line.note %></td>

    </tr>
    <% end %>
  </tbody>
</table>

<br>
-->


<% end %>



<script type="text/javascript">
    function copyToClipboard(message) {
        var textArea = document.createElement("textarea");
        textArea.value = message;
        textArea.style.opacity = "0"; 
        document.body.appendChild(textArea);
        textArea.focus();
        textArea.select();


        try {
            var successful = document.execCommand('copy');
            var msg = successful ? 'successful' : 'unsuccessful';
            alert(textArea.value+' was copied')
            //alert('Copying text command was ' + msg);
        } catch (err) {
            alert('Unable to copy value , error : ' + err.message);
        }

        document.body.removeChild(textArea);
    }

</script>
